<%# ***** Styles ***** %>

<%# Select2 %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/select2/css/select2.min.css">
<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">



<%# ***** Body ***** %>

<%# Content Header %>
<div class="content-header">
  <div class="container">

    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%BASE_URL%>/me">Me</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>

    <div class="d-sm-flex align-items-sm-center justify-content-between">

      <%# Header & Subtitle %>
      <div class="flex-wrap mb-2 mb-md-0">
        <h1 class="m-0">My Profile</h1>
        <div class="text-secondary">Manage your profile here</div>
      </div>
      
    </div>
  </div>
</div>

<%# Main Content %>
<section class="content">
  <div class="container">
    <div class="row">
      
      <div class="col-md-4 col-lg-3">
        <div class="sticky-top">

          <%# Profile Card Loader %>
          <div class="card card-outline card-primary" id="profileCard_loader" style="display: none">
            <div class="card-body d-flex flex-column align-items-center">
              <div class="skeleton rounded-circle mb-3" style="width: 100px; height: 100px;"></div>
              <div class="skeleton text mt-2 mb-3" style="width: 75%"></div>
              <div class="skeleton text" style="width: 25%"></div>
              <div class="skeleton text" style="width: 50%"></div>
              <div class="skeleton btn btn-block mt-3 mb-0"></div>
            </div>
          </div>

          <%# Profile Card %>
          <div class="card card-widget widget-user user-select-none">
            <div 
              class="widget-user-header"
              style="
                background: url('<%=BASE_URL%>/img/app/profile_bg.jpg') center center; 
                background-size: 100%;
              "
            >
            </div>
            <div class="widget-user-image">
              <!-- <div 
                class="d-inline-block bg-light border rounded-circle" 
                style="width: 100px; height: 100px"
              ></div> -->
              <img 
                class="profile-user-img img-fluid img-circle border-success"
                src="<%=BASE_URL%>/img/app/no_profile_pic.png"
                alt="Profile Picture"
                draggable="false"
                style="width: 100px; height: 100px;"
              />
            </div>
            <div class="card-body pt-5 text-center">
              
              <h5 class="my-2 text-center" id="userProfile_name"></h5>
              
              <div class="mb-3">
                <div class="text-muted text-center" id="userProfile_roles"></div>
                <div class="text-muted text-center" id="userProfile_email"></div>
              </div>
              
              <div class="dropdown-divider"></div>

              <div class="mt-3">
                <button type="button" class="btn btn-primary btn-block" data-auth="logout">
                  <i class="fas fa-sign-out-alt mr-1"></i>
                  <span>Log out</span>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-8 col-lg-9">

        <%# User Information Body Loader %>
        <div class="card" id="userInfo_body_loader" style="display: none">
          <div class="card-body">
            <div class="skeleton h4" style="width: 50%"></div>
            <div class="skeleton text" style="width: 25%"></div>
            <div class="py-3"></div>
            <div class="skeleton text" style="width: 30%"></div>
            <div class="skeleton text" style="width: 25%"></div>
            <div class="skeleton p"></div>
            <div class="py-3"></div>
            <div class="skeleton text" style="width: 30%"></div>
            <div class="skeleton text" style="width: 25%"></div>
            <div class="skeleton p"></div>
            <div class="my-5 py-5"></div>
          </div>
        </div>

        <%# User Information Body %>
        <div class="card" id="userInfo_body">
          <div class="card-header py-2">
            <div class="d-flex align-items-center justify-content-between">

              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a 
                    class="nav-link active" 
                    href="#information" 
                    data-toggle="tab"
                  >Personal Information</a>
                </li>
          
                <div class="nav-item pl-1"></div>
          
                <li class="nav-item">
                  <a 
                    class="nav-link" 
                    href="#settings" 
                    data-toggle="tab"
                  >Account Settings</a>
                </li>
              </ul>
  
              <div class="card-tools">
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-card-widget="maximize"
                  data-toggle="tooltip"
                  title="Maximize/minimize card"
                >
                  <i class="fas fa-expand"></i>
                </button>
              </div>

            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">

              <%# Personal Information %>
              <div class="tab-pane fade active show" id="information">
                <h3 class="mb-3">Update your Personal Information</h3>

                <form class="form-horizontal" id="editUser_form">

                  <input type="hidden" id="editUser_userId" name="user_id">
                  
                  <div class="form-group">
                    <label for="editUserInfo_firstName">
                      <span>First Name</span>
                      <span class="text-danger">*</span>
                    </label>
                    <input 
                      type="text" 
                      class="form-control" 
                      id="editUserInfo_firstName" 
                      name="first_name"
                      placeholder="Enter the first name here"
                    />
                  </div>
                  <div class="form-group">
                    <label for="editUserInfo_middleName">
                      <span>Middle Name</span>
                    </label>
                    <input 
                      type="text" 
                      class="form-control" 
                      id="editUserInfo_middleName" 
                      name="middle_name"
                      placeholder="Enter the middle name here"
                    />
                  </div>
                  <div class="form-group">
                    <label for="editUserInfo_lastName">
                      <span>Last Name</span>
                      <span class="text-danger">*</span>
                    </label>
                    <input 
                      type="text" 
                      class="form-control" 
                      id="editUserInfo_lastName" 
                      name="last_name"
                      placeholder="Enter the last name here"
                    />
                  </div>
                  <div class="form-group">
                    <label for="editUserInfo_suffixName">
                      <span>Suffix Name</span>
                    </label>
                    <input 
                      type="text" 
                      class="form-control" 
                      id="editUserInfo_suffixName" 
                      name="suffix_name"
                      placeholder="Enter the suffix name here"
                    />
                  </div>
                  <div class="form-group">
                    <label for="editUserInfo_email">
                      <span>Email</span>
                      <span class="text-danger">*</span>
                    </label>
                    <input 
                      type="email" 
                      class="form-control" 
                      id="editUserInfo_email" 
                      name="email"
                      placeholder="Enter the email address here"
                      disabled
                      readonly
                    />
                  </div>
                  <div class="form-group">
                    <div class="float-right">
                      <button type="submit" class="btn btn-primary" id="editUser_saveBtn" >
                        <span>Save</span>
                        <i class="fas fa-check ml-1"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <%# Account Settings %>
              <div class="tab-pane fade" id="settings">
                <h3 class="mb-3">Update your password</h3>

                <form class="form-horizontal" id="accountSettings_form">

                  <%# Old Password %>
                  <div class="form-group">
                    <label for="accountSetting_oldPassword">
                      <span>Old Password</span>
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <input 
                        type="password" 
                        class="form-control" 
                        id="accountSetting_oldPassword" 
                        name="old_password"
                        placeholder="Enter your password here" 
                        autocomplete="false"
                      >
                    </div>
                  </div>

                  <div class="form-group text-right">
                    <a 
                      href=""
                      id="settings_forgotPassword"
                    >Forgot your password?</a>
                  </div>

                  <%# New Password %>
                  <div class="form-group mb-2">
                    <label for="accountSetting_newPassword">
                      <span>New Password</span>
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <input 
                        type="password" 
                        class="form-control" 
                        id="accountSetting_newPassword" 
                        name="new_password"
                        placeholder="Enter your password here" 
                        autocomplete="false"
                      />
                    </div>
                  </div>

                  <%# Password Strength %>
                  <div class="form-group">
                    <div class="progress progress-sm">
                      <div 
                        class="progress-bar bg-success" 
                        id="passwordStrength_progressBar"
                        role="progressbar" 
                        aria-valuenow="0" 
                        aria-valuemin="0" 
                        aria-valuemax="100" 
                        style="width: 0%"
                      >
                      </div>
                    </div>
                    <div class="small" id="passwordStrength_label">
                      <div class="text-muted font-italic">We will check how strong your password is</div>
                    </div>
                  </div>

                  <%# Confirm New Password %>
                  <div class="form-group">
                    <label for="accountSetting_confirmNewPassword">
                      <span>Confirm New Password</span>
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <input 
                        type="password" 
                        class="form-control" 
                        id="accountSetting_confirmNewPassword" 
                        name="confirm_password"
                        placeholder="Re-enter your password here" 
                        autocomplete="false"
                      />
                    </div>
                  </div>
                  
                  <%# Buttons %>
                  <div class="form-group">
                    <div class="float-right">
                      <button 
                        type="submit" 
                        class="btn btn-primary" 
                        id="accountSettings_saveBtn" 
                      >
                        <span>Save</span>
                        <i class="fas fa-check ml-1"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('../../partials/user_info/modals/forgot_password_send_email') %> 


<%# ***** Scripts ***** %>

<%# Select2 %>
<script src="<%=BASE_URL%>/plugins/select2/js/select2.full.min.js"></script>
<%# Datatable and Plugins %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/auth/user.js"></script>
<script src="<%=BASE_URL%>/js/modules/user_info/profile.js"></script>
<script src="<%=BASE_URL%>/js/modules/user_info/settings.js"></script>
