<!-- Main Sidebar Container -->
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="/static/adminlte/img/PUPLogo.png" alt="PUP Logo" class="brand-image img-circle" style="opacity: .8">
    <span class="brand-text">PUPQC-EPMS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar user panel -->
    <div class="user-panel mt-3 pb-2 mb-3 d-flex">

      <!-- User image -->
      <div class="image">
        <img src="/static/adminlte/img/user1-128x128.jpg" class="img-circle" alt="User Image">
      </div>

      <!-- Usre info -->
      <div class="info">
        <a href="#" class="d-block font-weight-bold">
          <%= name %> 
        </a>
        <div>
          <span class="text-secondary small">
            <%= role %> 
          </span>
        </div>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-primary">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
        data-accordion="false">

        <!-- Core -->
        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a href="#" class="nav-link <%= page == 'dashboard' && 'active' %> ">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p class="text">Dashboard</p>
          </a>
        </li>

        <!-- Projects -->
        <li class="nav-header">PROJECTS</li>
        <li class="nav-item">
          <a href="#" class="nav-link <%= page == 'project_proposal' && 'active' %> ">
            <i class="nav-icon fas fa-file-circle-plus"></i>
            <p class="text">Project Proposal</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link <%= page == 'project_monitoring' && 'active' %> ">
            <i class="nav-icon fas fa-file-circle-question"></i>
            <p class="text">Project Monitoring</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link <%= page == 'project_evaluation' && 'active' %> ">
            <i class="nav-icon fas fa-file-circle-exclamation"></i>
            <p class="text">Project Evaluation</p>
          </a>
        </li>

        <!-- Reports -->
        <li class="nav-header">Reports</li>
        <li class="nav-item">
          <a href="#" class="nav-link <%= page == 'project_reports' && 'active' %> ">
            <i class="nav-icon fas fa-file-contract"></i>
            <p class="text">Project Reports</p>
          </a>
        </li>

      </ul>
    </nav>
  </div>

  <!-- Sidebar Custom/Footer -->
  <div class="sidebar-custom d-flex align-items-center justify-content-between">
    <a href="#" class="btn btn-sm btn-negative"><i class="fas fa-cogs"></i></a>
    <button class="btn btn-sm btn-danger hide-on-collapse pos-right" data-toggle="modal" data-target="#logoutModal">
      <span>Log out</span>
      <i class="fas fa-sign-out-alt ml-1"></i>
    </button>
  </div>
</aside>