<%# ***** Body ***** %>

<%- include('../../partials/loaders/content_header') %>

<%# Content Header (Page header) %>
<div class="content-header" style="display: none">
  <div class="container-fluid">

    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p">Projects</a></li>
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p/evaluation">Projects Evaluation</a></li>
      <li class="breadcrumb-item active">Project Details</li>
    </ol>
    
    <%# Title %>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Details</h1>
      </div>
      <div>
        <!-- <button type="button" class="btn btn-default float-right" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Date Range Picker</span>
          <i class="fas fa-caret-down ml-1"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<main class="content">
  <div class="container-fluid">
  
    <div class="row">

      <div class="col-md-9">

        <%- include('../../partials/projects/project_details_header') %>
        <%- include('../../partials/projects/project_details_body') %>
        <%- include('../../partials/projects/comments') %>

      </div>

      <div class="col-md-3">

        <%- include('../../partials/projects/options') %>
        <%- include('../../partials/projects/history_logs') %>

      </div>
    </div>

  </div>
</main>



<%# ***** Scripts ***** %>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectMain.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/activityEvaluationDetails.js"></script>