<%# ***** Body ***** %>

<%# Content Header %>
<div class="content-header">
  <div class="container-fluid">
    
    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%=BASE_URL%>/p">Projects</a>
      </li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    
    <%# Title %>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Dashboard</h1>
        <div class="text-secondary">View reports and manage activities here</div>
      </div>
      <div class="d-sm-block d-none">
        <div class="text-right">
          <h3 class="m-0 user-select-none" id="dashboard_dateTime_timeDisplay"></h3>
          <h6 class="m-0 user-select-none" id="dashboard_dateTime_dateDisplay"></h6>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<main class="content">
  <div class="container-fluid">

    <% if (roles.includes('Extensionist')) { %>

      <h5 class="font-weight-bold">Extension Projects</h5>

      <%# Main Cards %>
      <div class="row">

        <%# Total Project Proposals %>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3 id="dashboard_mainCard_totalProjectProposals">
                <span class="fas fa-spinner fa-fw fa-spin-pulse"></span>
              </h3>
              <p>Total Project Proposals</p>
            </div>
            <div class="icon">
              <i class="fas fa-file-pen"></i>
            </div>
            <a href="<%=BASE_URL%>/p/proposals" class="small-box-footer">
              <span>More info</span>
              <i class="fas fa-arrow-circle-right fa-beat-fade ml-1"></i>
            </a>
          </div>
        </div>
        
        <%# Total Created %>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3 id="dashboard_mainCard_totalCreatedProjects">
                <span class="fas fa-spinner fa-fw fa-spin-pulse"></span>
              </h3>
              <p>Created Proposals</p>
            </div>
            <div class="icon">
              <i class="fas fa-pen"></i>
            </div>
            <a href="<%=BASE_URL%>/p/proposals" class="small-box-footer">
              <span>More info</span>
              <i class="fas fa-arrow-circle-right fa-beat-fade ml-1"></i>
            </a>
          </div>
        </div>
        
        <%# On-going Projects %>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3 id="dashboard_mainCard_totalOnGoingProjects">
                <span class="fas fa-spinner fa-fw fa-spin-pulse"></span>
              </h3>
              <p>On-going projects</p>
            </div>
            <div class="icon">
              <i class="fas fa-hourglass"></i>
            </div>
            <a href="<%=BASE_URL%>/p/monitoring" class="small-box-footer">
              <span>More info</span>
              <i class="fas fa-arrow-circle-right fa-beat-fade ml-1"></i>
            </a>
          </div>
        </div>
        
        <%# Concluded Projects %>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3 id="dashboard_mainCard_totalConcludedProjects">
                <span class="fas fa-spinner fa-fw fa-spin-pulse"></span>
              </h3>
              <p>Concluded projects</p>
            </div>
            <div class="icon">
              <i class="fas fa-calendar-check"></i>
            </div>
            <a href="<%=BASE_URL%>/p/monitoring" class="small-box-footer">
              <span>More info</span>
              <i class="fas fa-arrow-circle-right fa-beat-fade ml-1"></i>
            </a>
          </div>
        </div>
      </div>

      <%# Charts %>
      <div class="row">

        <%# Project Proposals for Approval %>
        <div class="col-12">
          <div class="card card-outline-primary">
            <div class="card-header">
              <h3 class="card-title">Project Proposals for Approval</h3>
            </div>
            <div class="card-body">
              <div>
                <canvas 
                  id="donutChart" 
                  style="
                    min-height: 250px; 
                    height: 250px; 
                    max-height: 250px; 
                    max-width: 100%; 
                    display: block; 
                    width: 599px;
                  " 
                  width="599" 
                  height="250" 
                  class="chartjs-render-monitor"
                ></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">

        </div>
      </div>

      <h5 class="font-weight-bold">Memorandum of Agreement/Understanding</h5>
      
      <%# Main Cards %>
      <div class="row">

        <%# Total Memos %>
        <div class="col-lg-4 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3 id="dashboard_mainCard_totalMemos">
                <span class="fas fa-spinner fa-fw fa-spin-pulse"></span>
              </h3>
              <p>Total MOA/MOU</p>
            </div>
            <div class="icon">
              <i class="fas fa-copy"></i>
            </div>
            <a href="<%=BASE_URL%>/m/memo" class="small-box-footer">
              <span>More info</span>
              <i class="fas fa-arrow-circle-right fa-beat-fade ml-1"></i>
            </a>
          </div>
        </div>

      </div>


    <% } %>

    <% if (roles.includes('Chief') || roles.includes('Director')) { %>
      <%- include('../../partials/maintenance') %>
    <% } %>

  </div>
</main>



<%# ***** Scripts ***** %>

<%# Chart JS %> 
<script src="<%=BASE_URL%>/plugins/chart.js/Chart.min.js"></script>
<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/dashboard.js"></script>