<%# ***** Styles ***** %>

<%# Daterange Picker %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.css">
<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">



<%# ***** Body ***** %>

<%- include('../../partials/loaders/content_header') %>

<%# Content Header %>
<div class="content-header" id="contentHeader" style="display: none">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p">Projects</a></li>
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p/proposals">Project Proposals</a></li>
      <li class="breadcrumb-item active" id="active_breadcrumb">Project Details</li>
    </ol>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Activities</h1>
        <%# <div class="text-secondary">Evaluate projects here</div> %>
      </div>
      <div>
        <%# <button type="button" class="btn btn-default float-right" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Date Range Picker</span>
          <i class="fas fa-caret-down ml-1"></i>
        </button> %>
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-9">

        <%- include('../../partials/projects/project_details_header') %>

        <%# Project Activities %>
        <div class="card">

          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="card-title">List of Activities</h3>
              <div class="card-tools">
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-card-widget="collapse"
                  data-toggle="tooltip" 
                  title="Collapse card"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-card-widget="maximize"
                  data-toggle="tooltip" 
                  title="Maximize/minimize card"
                >
                  <i class="fas fa-expand"></i>
                </button>
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-toggle="tooltip" 
                  title="Reload table"
                  onclick="ProjectActivities.reloadDataTable()"
                >
                  <i class="fas fa-sync-alt"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table w-100" id="activities_dt">
                <thead>
                  <th class="sr-only">Date Created</th>
                  <th class="align-middle"><span class="d-none d-sm-inline">Activity </span>Title / Name</th>
                  <th class="align-middle">Topics</th>
                  <th class="align-middle">Start Date</th>
                  <th class="align-middle">End Date</th>
                  <th>
                    <span class="sr-only">Actions</span>
                  </th>
                </thead>
                <tbody>
                  <td colspan="5" class="text-center">
                    <%- include('../../partials/loaders/dt_body') %>
                  </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <%- include('../../partials/projects/comments') %>

      </div>

      <div class="col-md-3">
        <div class="sticky-top">

          <%- include('../../partials/projects/options') %>
          <%- include('../../partials/projects/history_logs') %>

        </div>
      </div>
    </div>
  </div>
</section>


<%# === Modals === %>

<%- include('../../partials/projects/modals/project_activity_details') %>

<% if (roles.includes('Extensionist')) { %>
  <%- include('../../partials/projects/modals/add_activity') %>
  <%- include('../../partials/projects/modals/edit_activity') %>
  <%- include('../../partials/projects/modals/confirm_submit_for_approval') %>
  <%- include('../../partials/projects/modals/confirm_cancel_the_proposal') %>
<% } %>

<% if (roles.includes('Chief')) { %>
  <%- include('../../partials/projects/modals/confirm_request_for_revision') %>
  <%- include('../../partials/projects/modals/set_presentation_schedule') %>
  <%- include('../../partials/projects/modals/set_project_evaluation') %>
  <%- include('../../partials/projects/modals/confirm_approve_the_project') %>
<% } %>



<%# ***** Scripts ***** %>

<%# InputMask %>
<script src="<%=BASE_URL%>/plugins/inputmask/jquery.inputmask.min.js"></script>
<%# daterangepicker %>
<script src="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.js"></script>
<%# Datatable and Plugins %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectMain.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectProposalDetails.js"></script>