<%# ***** Styles ****** %>

<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">




<%# ***** Body ****** %>

<%# Content Header %>
<div class="content-header">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>">Projects</a></li>
      <li class="breadcrumb-item active">Project Monitoring</li>
    </ol>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Monitoring</h1>
        <div class="text-secondary">Monitor approved and on going projects here</div>
      </div>
      <div>
        <!-- <button type="button" class="btn btn-default float-right" id="daterange-btn">
            <i class="far fa-calendar-alt mr-1"></i>
            <span>Date Range Picker</span>
            <i class="fas fa-caret-down ml-1"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<section class="content">
  <div class="container-fluid">

    <%# Info Cards %>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Messages</span>
                    <span class="info-box-number">1,410</span>
                </div>
                
            </div>
            
        </div>
        
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Bookmarks</span>
                    <span class="info-box-number">410</span>
                </div>
                
            </div>
            
        </div>
        
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Uploads</span>
                    <span class="info-box-number">13,648</span>
                </div>
                
            </div>
            
        </div>
        
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Likes</span>
                    <span class="info-box-number">93,139</span>
                </div>
                
            </div>
            
        </div>
        
    </div>

    <%# DataTable Card %>
    <div class="card card-outline card-primary">

      <div class="card-header">
          <div class="d-flex align-items-center justify-content-between">
              <h3 class="card-title">List of Projects</h3>
              <div class="card-tools">
                  <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse" title="Collapse card">
                      <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-negative" data-card-widget="maximize" title="Maximize/minimize card">
                      <i class="fas fa-expand"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-negative" title="Reload card content">
                      <i class="fas fa-sync-alt"></i>
                  </button>
              </div>
          </div>
      </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table w-100" id="projectMonitoring_dt">
              <thead>
                <th>Project Title</th>
                <th>Target Group(s)</th>
                <th>Date Started</th>
                <th>Date Ended</th>
                <th>Status</th>
                <th></th>
              </thead>
              <tbody>
                <tr>
                  <td colspan="6" class="text-center">
                    <div class="p-5 my-5">
                      <div class="spinner-grow text-primary mb-2"></div>
                      <div>Loading ... Please wait.</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
    </div>

  </div>
</section>




<%# ***** Script ****** %>

<%# Datatable %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectMonitoring.js"></script>