<%# ***** Styles ***** %>

<%# Daterange Picker %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.css">



<%# ***** Body ***** %>

<%- include('../../partials/loaders/content_header') %>

<%# Content Header %>
<div class="content-header" style="display: none">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p">Projects</a></li>
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p/proposals">Project Proposals</a></li>
      <li class="breadcrumb-item active" id="active_breadcrumb">Project Details</li>
    </ol>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Details</h1>
        <%# <div class="text-secondary">Evaluate projects here</div> %> 
      </div>
      <div>
        <%# 
          <button type="button" class="btn btn-default float-right" id="daterange-btn">
            <i class="far fa-calendar-alt mr-1"></i>
            <span>Date Range Picker</span>
            <i class="fas fa-caret-down ml-1"></i>
          </button>
        %> 
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<main class="content">
  <div class="container-fluid">
  
    <div class="row">

      <div class="col-md-9">

        <%- include('../../partials/projects/project_details_header') %>
        <%- include('../../partials/projects/project_details_body') %>
        <%- include('../../partials/projects/comments') %>

      </div>

      <div class="col-md-3">
        <div class="sticky-top">

          <%- include('../../partials/projects/options') %>
          <%- include('../../partials/projects/history_logs') %>
        
        </div>
      </div>
    </div>

  </div>
</main>

<%# === Modals === %>

<% if (JSON.parse(JSON.stringify(roles)).includes('Extensionist')) { %>
  <%- include('../../partials/projects/modals/confirm_submit_for_approval') %>
  <%- include('../../partials/projects/modals/confirm_cancel_the_proposal') %>
<% } %>

<% if (JSON.parse(JSON.stringify(roles)).includes('Chief')) { %>
  <%- include('../../partials/projects/modals/confirm_request_for_revision') %>
  <%- include('../../partials/projects/modals/set_presentation_schedule') %>
  <%- include('../../partials/projects/modals/set_project_evaluation') %>
  <%- include('../../partials/projects/modals/confirm_approve_the_project') %>
<% } %>



<%# ***** Scripts ***** %>

<%# InputMask %>
<script src="<%=BASE_URL%>/plugins/inputmask/jquery.inputmask.min.js"></script>
<%# daterangepicker %>
<script src="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectMain.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectProposalDetails.js"></script>
