<%# ***** Styles ***** %>

<%# Daterange Picker %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.css">
<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">



<%# ***** Body ***** %>

<%- include('../../partials/loaders/content_header') %>

<%# Content Header %>
<div class="content-header" id="contentHeader" style="display: none">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p">Projects</a></li>
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p/proposals">Project Proposals</a></li>
      <li class="breadcrumb-item active" id="active_breadcrumb">Project Details</li>
    </ol>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Activities</h1>
        <%# <div class="text-secondary">Evaluate projects here</div> %>
      </div>
      <div>
        <%# <button type="button" class="btn btn-default float-right" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Date Range Picker</span>
          <i class="fas fa-caret-down ml-1"></i>
        </button> %>
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-9">

        <%- include('../../partials/projects/project_details_header') %>

        <%# Project Activities %>
        <div class="card">

          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="card-title">List of Activities</h3>
              <div class="card-tools">
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-card-widget="collapse"
                  data-toggle="tooltip" 
                  title="Collapse card"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-card-widget="maximize"
                  data-toggle="tooltip" 
                  title="Maximize/minimize card"
                >
                  <i class="fas fa-expand"></i>
                </button>
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-toggle="tooltip" 
                  title="Reload table"
                  onclick="ProjectActivities.reloadDataTable()"
                >
                  <i class="fas fa-sync-alt"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table w-100" id="activities_dt">
                <thead>
                  <th class="sr-only">Date Created</th>
                  <th>Activity Title / Name</th>
                  <th>Topics</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>
                    <span class="d-sm-none">Actions</span>
                  </th>
                </thead>
                <tbody>
                  <td colspan="5" class="text-center">
                    <%- include('../../partials/loaders/dt_body') %>
                  </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <%- include('../../partials/projects/comments') %>

      </div>

      <div class="col-md-3">

        <%# Options Loader %>
        <div class="card" id="projectDetails_options_card_loader">
          <div class="card-header">
            <div class="skeleton text my-1" style="width: 5rem ;height: 1rem"></div>
          </div>
          <div class="card-body">
            <div class="skeleton text" style="width: 5rem"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="py-5"></div>
          </div>
        </div>

        <%# Options %>
        <div class="card" id="projectDetails_options_card" style="display: none">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="card-title">Options</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body p-2" id="projectDetails_options"></div>
        </div>

        <%# Timeline %>
        <div class="timeline">
          <div class="time-label font-weight-light" id="timeline_title">
            <span class="bg-primary">History Logs</span>
          </div>

          <!-- <div>
            <i class="fas fa-check bg-success"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Approved</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-sync-alt bg-warning"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Pending</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-circle-exclamation bg-info"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">For evaluation</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-circle-question bg-info"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">For review</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-pen bg-secondary"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Created</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-clock bg-gray"></i>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</section>


<%# === Modals === %>

<%- include('../../partials/projects/modals/project_activity_details') %>

<% if (JSON.parse(JSON.stringify(roles)).includes('Extensionist')) { %>
  
  <%# Add Project Activity Modal %>
  <div class="modal fade" data-backdrop="static" id="addProjectActivity_modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <form class="modal-content" id="addProjectActivity_form">
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="fas fa-list fa-fw mr-1"></i>
            <span>Add Project Activity</span>
          </h4>
          <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">

          <%# Activity Title %>
          <div class="form-group">
            <label for="addProjectActivity_title">
              <span>Activity Title / Name</span>
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="addProjectActivity_title" name="title"
              placeholder="Type the title of activity here" />
          </div>

          <%# Topics %>
          <div class="form-group" id="addProjectActivity_topics_grp">
            <label for="addProjectActivity_title">
              <span>Topics</span>
              <span class="text-danger">*</span>
            </label>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-sm btn-success" id="addTopic_btn">
                <i class="fas fa-plus mr-1"></i>
                <span>Add topic</span>
              </button>
            </div>
          </div>

          <%# Outcomes %>
          <div class="form-group" id="addProjectActivity_outcomes_grp">
            <label for="addProjectActivity_title">
              <span>Outcomes</span>
              <span class="text-danger">*</span>
            </label>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-sm btn-success" id="addOutcome_btn">
                <i class="fas fa-plus mr-1"></i>
                <span>Add outcome statement</span>
              </button>
            </div>
          </div>

          <%# Start/End Date %>
          <div class="form-row">

            <%# Start Date %>
            <div class="col-md-6">
              <div class="form-group">
                <label for="addProjectActivity_startDate">
                  <span>Start Date</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group date">
                  <input 
                    type="text" 
                    class="form-control" 
                    id="addProjectActivity_startDate" 
                    name="start_date"
                    placeholder="Please select a start date" 
                    data-inputmask-alias="datetime"
                    data-inputmask-inputformat="yyyy-mm-dd" 
                    data-mask 
                  />
                  <div class="input-group-append">
                    <button 
                      type="button" 
                      class="btn btn-primary" 
                      id="addProjectActivity_startDate_pickerBtn"
                      data-toggle="tooltip" 
                      title="Select a start date"
                    >
                      <i class="fa fa-calendar-day fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <%# End Date %>
            <div class="col-md-6">
              <div class="form-group">
                <label for="addProjectActivity_endDate">
                  <span>End Date</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group date">
                  <input 
                    type="text" 
                    class="form-control" 
                    id="addProjectActivity_endDate" 
                    name="end_date"
                    placeholder="Please select an end date" 
                    data-inputmask-alias="datetime"
                    data-inputmask-inputformat="yyyy-mm-dd" 
                    data-mask 
                  />
                  <div class="input-group-append">
                    <button 
                      type="button" 
                      class="btn btn-primary" 
                      id="addProjectActivity_endDate_pickerBtn"
                      data-toggle="tooltip" 
                      title="Select a start date"
                    >
                      <i class="fa fa-calendar-day fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%# Summary/Details %>
          <div class="form-group">
            <label for="addProjectActivity_details">
              <span>Summary/Details</span>
              <span class="text-danger">*</span>
            </label>
            <textarea 
              class="form-control"
              name="details" 
              id="addProjectActivity_details" 
              rows="5"
              placeholder="Please type the summary/details of the activity here"
            ></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-negative"
            id="addProjectActivity_cancelBtn"
            data-dismiss="modal"
          >Cancel</button>
          <button 
            type="submit" 
            class="btn btn-primary" 
            id="addProjectActivity_saveBtn"
          >
            <i class="fas fa-check mr-1"></i>
            <span>Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <%# Edit Project Activity Modal %>
  <div class="modal fade" data-backdrop="static" id="editProjectActivity_modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <form class="modal-content" id="editProjectActivity_form">
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="fas fa-list fa-fw mr-1"></i>
            <span>Edit Project Activity</span>
          </h4>
          <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">

          <%# Form groups loader %>
          <div id="editProjectActivity_formGroups_loader">
            <div class="form-group">
              <div class="skeleton text" style="width: 8rem"></div>
              <div class="skeleton input"></div>
            </div>
            <div class="form-group">
              <div class="skeleton text" style="width: 8rem"></div>
              <div class="skeleton input"></div>
              <div class="skeleton input"></div>
            </div>
            <div class="form-group">
              <div class="p-3 my-5"></div>
            </div>
          </div>

          <%# Form groups %>
          <div id="editProjectActivity_formGroups" style="display: none">

            <%# Activity ID %>
            <input type="hidden" id="editProjectActivity_activityId" name="activity_id">

            <%# Title %>
            <div class="form-group">
              <label for="editProjectActivity_title">
                <span>Activity Title / Name</span>
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" id="editProjectActivity_title" name="title"
                placeholder="Type the title of activity here" />
            </div>

            <%# Topics Form Group %>
            <div class="form-group" id="editProjectActivity_topics_grp">
              <label>
                <span>Topics</span>
                <span class="text-danger">*</span>
              </label>

              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-sm btn-success" id="editTopic_btn">
                  <i class="fas fa-plus mr-1"></i>
                  <span>Add topic</span>
                </button>
              </div>
            </div>

            <%# Outcomes Form Group %>
            <div class="form-group" id="editProjectActivity_outcomes_grp">
              <label>
                <span>Outcomes</span>
                <span class="text-danger">*</span>
              </label>

              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-sm btn-success" id="editOutcome_btn">
                  <i class="fas fa-plus mr-1"></i>
                  <span>Add outcome statement</span>
                </button>
              </div>
            </div>

            <%# Start/End Date %>
            <div class="form-row">

              <%# Start Date %>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="editProjectActivity_startDate">
                    <span>Start Date</span>
                    <span class="text-danger">*</span>
                  </label>
                  <div class="input-group date">
                    <input 
                      type="text" 
                      class="form-control" 
                      id="editProjectActivity_startDate" 
                      name="start_date"
                      placeholder="Please select a start date" 
                      data-inputmask-alias="datetime"
                      data-inputmask-inputformat="yyyy-mm-dd" 
                      data-mask 
                    />
                    <div class="input-group-append">
                      <button 
                        type="button" 
                        class="btn btn-primary" 
                        id="editProjectActivity_startDate_pickerBtn"
                        data-toggle="tooltip" 
                        title="Select a start date"
                      >
                        <i class="fa fa-calendar-day fa-fw"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <%# End Date %>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="editProjectActivity_endDate">
                    <span>End Date</span>
                    <span class="text-danger">*</span>
                  </label>
                  <div class="input-group date">
                    <input 
                      type="text" 
                      class="form-control" 
                      id="editProjectActivity_endDate" 
                      name="end_date"
                      placeholder="Please select an end date" 
                      data-inputmask-alias="datetime"
                      data-inputmask-inputformat="yyyy-mm-dd" 
                      data-mask 
                    />
                    <div class="input-group-append">
                      <button 
                        type="button" 
                        class="btn btn-primary" 
                        id="editProjectActivity_endDate_pickerBtn"
                        data-toggle="tooltip" 
                        title="Select a start date"
                      >
                        <i class="fa fa-calendar-day fa-fw"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%# Summary/Details %>
            <div class="form-group">
              <label for="editProjectActivity_details">
                <span>Summary/Details</span>
                <span class="text-danger">*</span>
              </label>
              <textarea 
                class="form-control"
                name="details" 
                id="editProjectActivity_details" 
                rows="5"
                placeholder="Please type the summary/details of the activity here"
              ></textarea>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-negative" 
            id="editProjectActivity_cancelBtn"
            data-dismiss="modal"
          >Cancel</button>
          <button 
            type="submit" 
            class="btn btn-primary"
            id="editProjectActivity_saveBtn"
          >
            <i class="fas fa-check mr-1"></i>
            <span>Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <%- include('../../partials/projects/modals/confirm_submit_for_approval') %>
  <%- include('../../partials/projects/modals/confirm_cancel_the_proposal') %>
<% } %>


<% if (JSON.parse(JSON.stringify(roles)).includes('Chief')) { %>
  <%- include('../../partials/projects/modals/confirm_request_for_revision') %>
  <%- include('../../partials/projects/modals/set_presentation_schedule') %>
  <%- include('../../partials/projects/modals/set_project_evaluation') %>
  <%- include('../../partials/projects/modals/confirm_approve_the_project') %>
<% } %>



<%# ***** Scripts ***** %>

<%# InputMask %>
<script src="<%=BASE_URL%>/plugins/inputmask/jquery.inputmask.min.js"></script>
<%# daterangepicker %>
<script src="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.js"></script>
<%# Datatable and Plugins %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectMain.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectProposalDetails.js"></script>