<%# ***** Styles ***** %>

<%# Daterange Picker %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.css">



<%# ***** Body ***** %>

<%- include('../../partials/loaders/content_header') %>

<%# Content Header %>
<div class="content-header" style="display: none" id="contentHeader">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p">Projects</a></li>
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p/proposals">Project Proposals</a></li>
      <li class="breadcrumb-item active" id="active_breadcrumb">Project Details</li>
    </ol>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Details</h1>
        <!-- <div class="text-secondary">Evaluate projects here</div> -->
      </div>
      <div>
        <!-- <button type="button" class="btn btn-default float-right" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Date Range Picker</span>
          <i class="fas fa-caret-down ml-1"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<main class="content">
  <div class="container-fluid">
  
    <div class="row">

      <div class="col-md-9">

        <%- include('../../partials/projects/project_details_header') %>
        <%- include('../../partials/projects/project_details_body') %>
        <%- include('../../partials/projects/comments') %>

      </div>

      <div class="col-md-3">

        <%# Options Loader %>
        <div class="card" id="projectDetails_options_card_loader">
          <div class="card-header">
            <div class="skeleton text my-1" style="width: 5rem ;height: 1rem"></div>
          </div>
          <div class="card-body">
            <div class="skeleton text" style="width: 5rem"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="py-5"></div>
          </div>
        </div>

        <%# Options %>
        <div class="card" id="projectDetails_options_card" style="display: none">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="card-title">Options</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body p-2" id="projectDetails_options"></div>
        </div>

        <%# Timeline %>
        <div class="timeline">
          <div class="time-label font-weight-light">
            <span class="bg-primary">History Logs</span>
          </div>
          
          <div>
            <i class="fas fa-check bg-success"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Approved</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-sync-alt bg-warning"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Pending</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-circle-exclamation bg-info"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">For evaluation</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-circle-question bg-info"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">For review</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-pen bg-secondary"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Created</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-clock bg-gray"></i>
          </div>
        </div>

      </div>
    </div>

  </div>
</main>

<%# === Modals === %>

<% if (JSON.parse(JSON.stringify(roles)).includes('Extensionist')) { %>
  <%- include('../../partials/projects/modals/confirm_submit_for_approval') %>
  <%- include('../../partials/projects/modals/confirm_cancel_the_proposal') %>
<% } %>

<% if (JSON.parse(JSON.stringify(roles)).includes('Chief')) { %>
  <%- include('../../partials/projects/modals/set_presentation_schedule') %>
  <%- include('../../partials/projects/modals/confirm_approve_the_project') %>
<% } %>



<%# ***** Scripts ***** %>

<%# InputMask %>
<script src="<%=BASE_URL%>/plugins/inputmask/jquery.inputmask.min.js"></script>
<%# daterangepicker %>
<script src="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectComments.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectProposalDetails.js"></script>
