<%# ***** NOT YET FINALIZED AND NOT WORKING ****** %>

<%# ***** Styles ****** %>




<%# ***** Body ****** %>

<%# Content Header %>
<div class="content-header">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p">Projects</a></li>
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p/monitoring">Project Monitoring</a></li>
      <li class="breadcrumb-item active" id="active_breadcrumb">Project Details</li>
    </ol>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Details</h1>
        <!-- <div class="text-secondary">Evaluate projects here</div> -->
      </div>
      <div>
        <!-- <button type="button" class="btn btn-default float-right" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Date Range Picker</span>
          <i class="fas fa-caret-down ml-1"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<section class="content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-9">
        
        <%- include('../../partials/projects/project_details_header') %>
        <%- include('../../partials/projects/project_details_body') %>
        <%- include('../../partials/projects/comments') %>

      </div>

      <div class="col-md-3">

        <%# Options Loader %>
        <div class="card" id="projectDetails_options_card_loader">
          <div class="card-header">
            <div class="skeleton text my-1" style="width: 5rem ;height: 1rem"></div>
          </div>
          <div class="card-body">
            <div class="skeleton text" style="width: 5rem"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="py-5"></div>
          </div>
        </div>

        <%# Options %>
        <div class="card" id="projectDetails_options_card" style="display: none">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="card-title">Options</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body p-2" id="projectDetails_options"></div>
        </div>

      </div>
    </div>

  </div>
</section>


<%# ***** Script ****** %>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectMain.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectMonitoringDetails.js"></script>