<%# ***** Styles ***** %>

<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">



<%# ***** Body ***** %>

<%# Main Header Loader %>
<div class="content-header" id="contentHeader_loader">
  <div class="container-fluid">
    <div class="skeleton text my-2" style="width: 15rem"></div>
    <div class="d-flex align-items-center justify-content-between">
      <div class="flex-grow-1">
        <div class="skeleton h1 d-block" style="width: 8rem"></div>
        <!-- <div class="text-secondary">Evaluate projects here</div> -->
      </div>
      <div>
        <div class="skeleton btn" style="width: 8rem"></div>
      </div>
    </div>
  </div>
</div>

<%# Main Header %>
<div class="content-header" style="display: none" id="contentHeader">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p">Projects</a></li>
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/p/proposals">Project Proposals</a></li>
      <li class="breadcrumb-item active">Project Activities</li>
    </ol>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Activities</h1>
        <!-- <div class="text-secondary">Evaluate projects here</div> -->
      </div>
      <div>
        <!-- <button type="button" class="btn btn-default float-right" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Date Range Picker</span>
          <i class="fas fa-caret-down ml-1"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-9">

        <!-- Project Details Header -->
        <div class="card card-primary card-outline" id="projectDetails_header">
          <div class="card-body">
            <div>

              <!-- Title -->
              <div class="row">
                <div class="col-10">
                  <h3 id="projectDetails_header_title">
                    <div class="skeleton h3"></div>
                    <div class="skeleton h3"></div>
                  </h3>
                </div>
              </div>

              <!-- Implementer -->
              <div id="projectDetails_header_implementer">
                <div class="skeleton text" style="width: 50%"></div>
              </div>

              <!-- Time Frame -->
              <div id="projectDetails_header_timeframe">
                <div class="skeleton text" style="width: 25%"></div>
              </div>

              <!-- Status -->
              <div class="mt-1" id="projectDetails_header_status">
                <div class="skeleton text" style="width: 5rem"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Activities -->
        <div class="card">

          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="card-title">List of Activities</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse"
                  data-toggle="tooltip" title="Collapse card">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="maximize"
                  data-toggle="tooltip" title="Maximize/minimize card">
                  <i class="fas fa-expand"></i>
                </button>
                <button type="button" class="btn btn-sm btn-negative" data-toggle="tooltip" title="Reload table">
                  <i class="fas fa-sync-alt"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">

            <table class="table w-100" id="activities_dt">
              <thead>
                <th>Name</th>
                <th>Topics</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <td colspan="4" class="text-center">
                  <div class="p-5 my-5">
                    <div class="spinner-grow text-primary mb-2"></div>
                    <div>Loading ... Please wait.</div>
                  </div>
                </td>
              </tbody>
            </table>

          </div>
        </div>

        <%- include('../../partials/projects/comments') %>

      </div>

      <div class="col-md-3">

        <!-- Options Loader -->
        <div class="card" id="projectDetails_options_card_loader">
          <div class="card-header">
            <div class="skeleton text my-1" style="width: 5rem ;height: 1rem"></div>
          </div>
          <div class="card-body">
            <div class="skeleton text" style="width: 5rem"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="py-5"></div>
          </div>
        </div>

        <!-- Options -->
        <div class="card" id="projectDetails_options_card" style="display: none">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="card-title">Options</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body p-2" id="projectDetails_options"></div>
        </div>

        <!-- Timeline -->
        <div class="timeline">
          <div class="time-label font-weight-light">
            <span class="bg-primary">History Logs</span>
          </div>

          <div>
            <i class="fas fa-check bg-success"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Approved</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-sync-alt bg-warning"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Pending</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-circle-exclamation bg-info"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">For evaluation</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-circle-question bg-info"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">For review</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-pen bg-secondary"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Created</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-clock bg-gray"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<%# *** Modals *** %>

<!-- Project Activity Details Modal -->
<div class="modal fade" id="projectActivityDetails_modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fas fa-list fa-fw mr-1"></i>
          <span>Project Activity Details</span>
        </h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <!-- Activity Details Loader -->
        <div id="projectActivityDetails_loader">
          <div class="skeleton h4" style="width: 50%"></div>
          <div class="skeleton h4" style="width: 30%"></div>
          <div class="skeleton text mt-3" style="width: 25%"></div>
          <div class="skeleton p"></div>
          <div class="p-3 my-5"></div>
        </div>

        <!-- Activity Details -->
        <div id="projectActivityDetails" style="display: none;">
          <h4 id="projectActivityDetails_title">Health Awareness and Office Productivity Tools</h4>

          <div class="row">

            <div class="col-12">
              <hr class="my-2">
            </div>

            <!-- Project Team -->
            <dt class="col-md-2">
              <div class="mx-2">Topics</div>
            </dt>
            <dd class="col-md-10">
              <div class="mx-2" id="projectActivityDetails_topics"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>

            <!-- Project Team -->
            <dt class="col-md-2">
              <div class="mx-2">Outcomes</div>
            </dt>
            <dd class="col-md-10">
              <div class="mx-2" id="projectActivityDetails_outcomes"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-negative" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Project Activity Modal -->
<div class="modal fade" id="addProjectActivity_modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <form class="modal-content" id="addProjectActivity_form">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fas fa-list fa-fw mr-1"></i>
          <span>Add Project Activity</span>
        </h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="addProjectActivity_title">
            <span>Activity Title</span>
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-control" id="addProjectActivity_title" name="title"
            placeholder="Type the title of activity here ..." />
        </div>

        <div class="form-group" id="addProjectActivity_topics_grp">
          <label for="addProjectActivity_title">
            <span>Topics</span>
            <span class="text-danger">*</span>
          </label>

          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-sm btn-success" id="addTopic_btn">
              <i class="fas fa-plus mr-1"></i>
              <span>Add topic</span>
            </button>
            <button type="button" class="btn btn-sm btn-warning" id="clearTopicEmptyFields_btn">
              <i class="fas fa-eraser mr-1"></i>
              <span>Remove empty fields</span>
            </button>
          </div>
        </div>


        <div class="form-group" id="addProjectActivity_outcomes_grp">
          <label for="addProjectActivity_title">
            <span>Outcomes</span>
            <span class="text-danger">*</span>
          </label>

          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-sm btn-success" id="addOutcome_btn">
              <i class="fas fa-plus mr-1"></i>
              <span>Add outcome statement</span>
            </button>
            <button type="button" class="btn btn-sm btn-warning" id="clearOutcomeEmptyFields_btn">
              <i class="fas fa-eraser mr-1"></i>
              <span>Remove empty fields</span>
            </button>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-negative" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger" id="confirmRemoveLineItemBudget_btn">
          <i class="fas fa-check mr-1"></i>
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Edit Project Activity Modal -->
<div class="modal fade" id="editProjectActivity_modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <form class="modal-content" id="editProjectActivity_form">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fas fa-list fa-fw mr-1"></i>
          <span>Edit Project Activity</span>
        </h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <!-- Form groups loader -->
        <div id="editProjectActivity_formGroups_loader">
          <div class="form-group">
            <div class="skeleton text" style="width: 8rem"></div>
            <div class="skeleton input"></div>
          </div>
          <div class="form-group">
            <div class="skeleton text" style="width: 8rem"></div>
            <div class="skeleton input"></div>
            <div class="skeleton input"></div>
          </div>
          <div class="form-group">
            <div class="p-3 my-5"></div>
          </div>
        </div>

        <!-- Form groups -->
        <div id="editProjectActivity_formGroups" style="display: none">

          <!-- Title -->
          <div class="form-group">
            <label for="editProjectActivity_title">
              <span>Activity Title</span>
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="editProjectActivity_title" name="title"
              placeholder="Type the title of activity here ..." />
          </div>

          <!-- Topics Form Group -->
          <div class="form-group" id="editProjectActivity_topics_grp">
            <label>
              <span>Topics</span>
              <span class="text-danger">*</span>
            </label>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-sm btn-success" id="editTopic_btn">
                <i class="fas fa-plus mr-1"></i>
                <span>Add topic</span>
              </button>
              <button type="button" class="btn btn-sm btn-warning" id="clearEditTopicEmptyFields_btn">
                <i class="fas fa-eraser mr-1"></i>
                <span>Remove empty fields</span>
              </button>
            </div>
          </div>

          <!-- Outcomes Form Group -->
          <div class="form-group" id="editProjectActivity_outcomes_grp">
            <label>
              <span>Outcomes</span>
              <span class="text-danger">*</span>
            </label>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-sm btn-success" id="editOutcome_btn">
                <i class="fas fa-plus mr-1"></i>
                <span>Add outcome statement</span>
              </button>
              <button type="button" class="btn btn-sm btn-warning" id="clearEditOutcomeEmptyFields_btn">
                <i class="fas fa-eraser mr-1"></i>
                <span>Remove empty fields</span>
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-negative" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger" id="editProjectActivity_form_saveBtn">
          <i class="fas fa-check mr-1"></i>
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>


<%# ***** Scripts ***** %>

<%# Datatable and Plugins %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectComments.js"></script>
<script src="<%=BASE_URL%>/js/modules/projects/projectProposalDetails.js"></script>