<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- meta %>
  
  <link rel="stylesheet" href="./plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./plugins/adminlte/css/adminlte.min.css">
  <%- style %>  

  <title><%= document_title %> | PUPQC Extension Project Management System</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
  <div class="wrapper">
    
    <%- include('../partials/topbar.ejs') %>
    <%- include(`../partials/${sidebar}.ejs`) %>
    
    <div class="content-wrapper">
      <%- body %>
    </div>

    <%- include('../partials/footer.ejs') %>

  </div>

  <%# Plugins %> 
  <script src="./plugins/jquery/jquery.min.js"></script>
  <script src="./plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="./plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./plugins/moment/moment.min.js"></script>
  <script src="./plugins/adminlte/js/adminlte.min.js"></script>
  
  <%# Main %> 
  <script src="./js/main.js"></script>

  <%- script %> 

</body>
</html>