<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%- meta %>
  
	<link rel="icon" href="<%=BASE_URL%>/img/PUPLogo.png">
  
  <%# Google Font: Source Sans Pro %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <%# Fontawesome %>
  <link rel="stylesheet" href="<%=BASE_URL%>/plugins/fontawesome-free/css/all.min.css">
  <%# Toastr %>
	<link rel="stylesheet" href="<%=BASE_URL%>/plugins/toastr/toastr.min.css">
  <%# Overlay scrollbars %>
	<link rel="stylesheet" href="<%=BASE_URL%>/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <%# jQuery UI CSS %>
  <link rel="stylesheet" href="<%=BASE_URL%>/plugins/jquery-ui/jquery-ui.min.css">
  <link rel="stylesheet" href="<%=BASE_URL%>/plugins/jquery-ui/jquery-ui.theme.min.css">

  <%- style %>  
  
  <%# AdminLTE %>
  <link rel="stylesheet" href="<%=BASE_URL%>/plugins/adminlte/css/alt/adminlte.light.min.css">
  
  <%- include('../partials/custom_styles') %>

  <title><%= document_title %> | PUPQC Extension Project Management System</title>
</head>

<%- include('../partials/no_javascript') %>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
  <div class="wrapper">
    
    <%- include('../partials/topbar.ejs') %>
    <%- include(`../partials/${sidebar}.ejs`) %>
    
    <div class="content-wrapper">
      <%- body %>
    </div>

    <%- include('../partials/footer.ejs') %>

  </div>

  <%# ***** Plugins ***** %> 

  <%# jquery %>
  <script src="<%=BASE_URL%>/plugins/jquery/jquery.min.js"></script>
  <%# jquery UI %>
  <script src="<%=BASE_URL%>/plugins/jquery-ui/jquery-ui.min.js"></script>
  <%# Bootstrap %>
  <script src="<%=BASE_URL%>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <%# Moment %>
  <script src="<%=BASE_URL%>/plugins/moment/moment.min.js"></script>
  <%# toastr %>
	<script src="<%=BASE_URL%>/plugins/toastr/toastr.min.js"></script>
  <%# jquery-validation %>
  <script src="<%=BASE_URL%>/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="<%=BASE_URL%>/plugins/jquery-validation/additional-methods.min.js"></script>
	<%# overlayScrollbars %>
	<script src="<%=BASE_URL%>/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <%# AdminLTE %>
  <script src="<%=BASE_URL%>/plugins/adminlte/js/adminlte.min.js"></script>

  <%- script %> 

  <%# AdminLTE %>
  <script src="<%=BASE_URL%>/js/auth/user.js"></script>

</body>
</html>