<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- meta %>

	<link rel="icon" href="<%=BASE_URL%>/img/PUPLogo.png">
  
  <%# Google Font: Source Sans Pro %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <%# Fontawesome %>
  <link rel="stylesheet" href="<%=BASE_URL%>/plugins/fontawesome-free/css/all.min.css">
  
  <%- style %>  
  
  <%# AdminLTE %>
  <link rel="stylesheet" href="<%=BASE_URL%>/plugins/adminlte/css/alt/adminlte.light.min.css">

  <title><%= document_title %> | PUPQC Extension Project Management System</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
  <div class="wrapper">
    
    <%- include('../partials/topbar.ejs') %>
    <%- include(`../partials/${sidebar}.ejs`) %>
    
    <div class="content-wrapper">
      <%- body %>
    </div>

    <%- include('../partials/footer.ejs') %>

  </div>

  <%# Plugins %> 
  <script src="<%=BASE_URL%>/plugins/jquery/jquery.min.js"></script>
  <script src="<%=BASE_URL%>/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="<%=BASE_URL%>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="<%=BASE_URL%>/plugins/moment/moment.min.js"></script>
  <script src="<%=BASE_URL%>/plugins/adminlte/js/adminlte.min.js"></script>
  
  <%# Main %> 
  <script src="<%=BASE_URL%>/js/main.js"></script>

  <%- script %> 

</body>
</html>