<%# ***** Styles ***** %>

<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">



<%# ***** Body ***** %>

<%# Main Header Loader %>
<div class="content-header" id="contentHeader_loader">
  <div class="container-fluid">
    <div class="skeleton text my-2" style="width: 15rem"></div>
    <div class="d-flex align-items-center justify-content-between">
      <div class="flex-grow-1">
        <div class="skeleton h1 d-block" style="width: 8rem"></div>
        <!-- <div class="text-secondary">Evaluate projects here</div> -->
      </div>
      <div>
        <div class="skeleton btn" style="width: 8rem"></div>
      </div>
    </div>
  </div>
</div>

<%# Main Header %>
<div class="content-header" style="display: none" id="contentHeader">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Project Proposal</li>
    </ol>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Activities</h1>
        <!-- <div class="text-secondary">Evaluate projects here</div> -->
      </div>
      <div>
        <button type="button" class="btn btn-default float-right" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Date Range Picker</span>
          <i class="fas fa-caret-down ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-9">

        <!-- Project Details Header -->
        <div class="card card-primary card-outline" id="projectDetails_header">
          <div class="card-body">
            <div>

              <!-- Title -->
              <div class="row">
                <div class="col-10">
                  <h3 id="projectDetails_header_title">
                    <div class="skeleton h3"></div>
                    <div class="skeleton h3"></div>
                  </h3>
                </div>
              </div>

              <!-- Implementer -->
              <div id="projectDetails_header_implementer">
                <div class="skeleton text" style="width: 50%"></div>
              </div>

              <!-- Time Frame -->
              <div id="projectDetails_header_timeframe">
                <div class="skeleton text" style="width: 25%"></div>
              </div>

              <!-- Status -->
              <div class="mt-1" id="projectDetails_header_status">
                <div class="skeleton text" style="width: 5rem"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Activities -->
        <div class="card">

          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="card-title">List of Activities</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse"
                  data-toggle="tooltip" title="Collapse card">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="maximize"
                  data-toggle="tooltip" title="Maximize/minimize card">
                  <i class="fas fa-expand"></i>
                </button>
                <button type="button" class="btn btn-sm btn-negative" data-toggle="tooltip" title="Reload table">
                  <i class="fas fa-sync-alt"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">

            <table class="table w-100" id="activities_dt">
              <thead>
                <th>Name</th>
                <th>Topics</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <td colspan="4" class="text-center">
                  <div class="p-5 my-5">
                    <div class="spinner-grow text-primary mb-2"></div>
                    <div>Loading ... Please wait.</div>
                  </div>
                </td>
              </tbody>
            </table>

          </div>
        </div>

        <!-- Comments -->
        <div class="card">
          <div class="card-header">
            <div class="card-title">Comments</div>
          </div>
          <div class="card-body" id="projectComments_grp">

            <div class="d-flex mb-3" id="projectComment_addComment_grp">
              <div class="user-block mr-3">
                <img class="img-circle" src="../../dist/img/user1-128x128.jpg" alt="user image">
              </div>
              <div class="flex-grow-1">
                <textarea class="form-control" name="" id="" cols="30" rows="3"
                  placeholder="Add a comment here ..." data-autoresize></textarea>
              </div>
            </div>

            <div class="d-flex mb-3" id="projectComment_loader">
              <div class="user-block mr-3">
                <div class="skeleton avatar"></div>
              </div>
              <div class="flex-grow-1">
                <div class="skeleton text" style="width: 8rem"></div>
                <div class="skeleton text" style="width: 5rem"></div>
                <div class="skeleton p mt-2"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-3">

        <!-- Options Loader -->
        <div class="card" id="projectDetails_options_card_loader">
          <div class="card-header">
            <div class="skeleton text my-1" style="width: 5rem ;height: 1rem"></div>
          </div>
          <div class="card-body">
            <div class="skeleton text" style="width: 5rem"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="skeleton btn btn-block"></div>
            <div class="py-5"></div>
          </div>
        </div>

        <!-- Options -->
        <div class="card" id="projectDetails_options_card" style="display: none">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="card-title">Options</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body p-2" id="projectDetails_options"></div>
        </div>

        <!-- Timeline -->
        <div class="timeline">
          <div class="time-label font-weight-light">
            <span class="bg-primary">History Logs</span>
          </div>

          <div>
            <i class="fas fa-check bg-success"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Approved</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-sync-alt bg-warning"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Pending</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-circle-exclamation bg-info"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">For evaluation</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-circle-question bg-info"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">For review</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-file-pen bg-secondary"></i>
            <div class="timeline-item">
              <div class="timeline-body small">
                <div class="font-weight-bold">Created</div>
                <div>September 24, 2022</div>
                <div>By Alexander Pierce</div>
              </div>
            </div>
          </div>

          <div>
            <i class="fas fa-clock bg-gray"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<%# ***** Scripts ***** %>

<%# Datatable and Plugins %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/monitoring/projectDetails.js"></script>
<script src="<%=BASE_URL%>/js/modules/monitoring/projectActivities.js"></script>