<%# ***** Styles ***** %>

<%# Select2 %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/select2/css/select2.min.css">
<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">



<%# ***** Body ***** %>

<%# Content Header %>
<div class="content-header">
  <div class="container-fluid">

    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%BASE_URL%>/a">SysAdmin</a></li>
      <li class="breadcrumb-item active">Post Activity Evaluation</li>
    </ol>

    <div class="d-sm-flex align-items-sm-center justify-content-between">

      <%# Header & Subtitle %>
      <div class="flex-wrap mb-2 mb-md-0">
        <h1 class="m-0">Post Activity Evaluation</h1>
        <div class="text-secondary">Manage pre-defined criteria for post activity evaluation</div>
      </div>
      
    </div>
  </div>
</div>

<%# Main Content %>
<main class="content">
  <div class="container-fluid">
    
    <%# Info Cards %>
    <div class="row d-none">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Messages</span>
            <span class="info-box-number">1,410</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Bookmarks</span>
            <span class="info-box-number">410</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Uploads</span>
            <span class="info-box-number">13,648</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">93,139</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row justify-content-center">

      <%# Body %>
      <div class="col-md-9">

        <%- include('../../partials/loaders/content'); %>

        <form 
          class="card card-outline card-primary" 
          id="configurePostEval_form"
          style="display: none"
        >

          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="card-title">Form Details</h3>
              <div class="card-tools">
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-card-widget="maximize"
                  data-toggle="tooltip"
                  title="Maximize/minimize card"
                >
                  <i class="fas fa-expand"></i>
                </button>
              </div>
            </div>
          </div>
    
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="activityEvaluation_form">
                <thead>
                  <th class="align-middle" style="width: 80%">
                    <span>Criteria</span>
                    <span class="text-danger">*</span>
                  </th>
                  <%# 
                    <th class="align-middle" style="min-width: 6rem">
                      <span>Ave. Rate</span>
                      <span class="text-danger">*</span>
                    </th>
                  %>
                  <th style="width: 5%"></th>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
    
          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <button 
                type="button" 
                class="btn btn-negative" 
                id="resetBtn"
              >
                <span>Reset</span>
                <i class="fas fa-sync-alt ml-1"></i>
              </button>
              <button type="submit" class="btn btn-primary" id="submitBtn">
                <span>Save</span>
                <i class="fas fa-check ml-1"></i>
              </button>
            </div>
          </div>
    
        </form>

      </div>

      <%# Options/Right bars %>
      <!-- <div class="col-md-3">
        <div class="sticky-top">
          
          <%# Options %>
          <div class="card" id="options">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title">Options</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
            </div>
            
            <div class="card-body p-2">
              <div class="dropdown-header">Post Evaluation Questions</div>
              <a class="btn btn-negative btn-block text-left" href="">
                <i class="fas fa-edit text-info fa-fw mr-1"></i>
                <span>Edit post evaluation</span>
              </a>
            </div>
            
          </div>

        </div>
      </div> -->
    </div>

</main>

<%# ***** Scripts ***** %>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/admin/postEvaluation.js"></script>
