<%# Main Sidebar Container %>
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <%# Brand Logo %>
  <div class="brand-link">
    <img src="<%=BASE_URL%>/img/PUPLogo.png" alt="AdminLTE Logo" class="brand-image img-circle" style="opacity: .8">
    <span class="brand-text">PUPQC-EPMS</span>
  </div>

  <%# Sidebar %>
  <div class="sidebar border-right">

    <%- include('./user_panel') %>
    <%- include('./sidebar_search') %>

    <%# Sidebar Menu %>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
        data-accordion="false">

        <%# Core %>
        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/p/dashboard" 
            class="nav-link<% if (active_sidebar_tab == "Dashboard") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-chart-bar"></i>
            <p class="text">Dashboard</p>
          </a>
        </li>

        <%# Projects %>
        <li class="nav-header">PROJECTS</li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/p/proposals" 
            class="nav-link<% if (active_sidebar_tab == "Project Proposals") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-circle-plus"></i>
            <p class="text">Project Proposals</p>
          </a>
        </li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/p/monitoring" 
            class="nav-link<% if (active_sidebar_tab == "Project Monitoring") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-circle-question"></i>
            <p class="text">Project Monitoring</p>
          </a>
        </li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/p/evaluation" 
            class="nav-link<% if (active_sidebar_tab == "Project Evaluation") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-circle-exclamation"></i>
            <p class="text">Project Evaluation</p>
          </a>
        </li>

        <%# Reports %>
        <li class="nav-header">Reports</li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/p/reports" 
            class="nav-link<% if (active_sidebar_tab == "Project Reports") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-contract"></i>
            <p class="text">Project Reports</p>
          </a>
        </li>

      </ul>
    </nav>

  </div>

  <%# Sidebar Custom/Footer %>
  <div class="sidebar-custom border-right d-flex align-items-center justify-content-between">
    <a href="#" class="btn btn-sm btn-negative"><i class="fas fa-cogs"></i></a>
  </div>
</aside>