<%# ***** Styles ***** %>

<%# Select2 %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/select2/css/select2.min.css">
<%# Tempusdominus Bootstrap 4 %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<%# Daterange Picker %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.css">
<%# iCheck %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


<%# ***** Body ***** %>

<%# Content Header (Page header) %>
<div class="content-header">
  <div class="container-fluid">

    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/m">MOA/MOU</a></li>
      <li class="breadcrumb-item active">List of MOA/MOU</li>
    </ol>

    <div class="d-sm-flex align-items-sm-center justify-content-between">

      <%# Header & Subtitle %>
      <div class="flex-wrap mb-2 mb-md-0">
        <h1 class="m-0">List of MOA/MOU</h1>
        <div class="text-secondary">View reports and manage activities here</div>
      </div>
      <div>
        <!-- <button type="button" class="btn btn-default" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Filter by date</span>
        </button> -->
        <% if (JSON.parse(JSON.stringify(roles)).includes('Extensionist')) { %>
          <button 
            type="button" 
            class="btn btn-primary" 
            data-toggle="modal"
            data-target="#addMemo_modal"
          >
            <i class="fas fa-plus mr-1"></i>
            <span>Add MOA/MOU</span>
          </>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%# Main content %>
<section class="content">
  <div class="container-fluid">

    <%# Info cards %>
    <div class="row d-none">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Messages</span>
            <span class="info-box-number">1,410</span>
          </div>
          
        </div>
        
      </div>
      
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Bookmarks</span>
            <span class="info-box-number">410</span>
          </div>
          
        </div>
        
      </div>
      
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Uploads</span>
            <span class="info-box-number">13,648</span>
          </div>
          
        </div>
        
      </div>
      
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">93,139</span>
          </div>
          
        </div>
        
      </div>
      
    </div>

    <%# Datatable Card %>
    <div class="card card-outline card-primary">

      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="card-title">List of MOA/MOU</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse"
              title="Collapse card">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-sm btn-negative" data-card-widget="maximize"
              title="Maximize/minimize card">
              <i class="fas fa-expand"></i>
            </button>
            <button 
              type="button" 
              class="btn btn-sm btn-negative" 
              title="Reload card content"
              onclick="Memos.reloadDataTable()"
            >
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">
        
        <%# MOA/MOU Datatable %>
        <div class="table-responsive">
          <table class="table w-100" id="projectMOA_dt">
            <thead>
              <th class="sr-only">Date Created</th>
              <th class="align-middle">Name of Partner</th>
              <th class="align-middle">Name of Representative</th>
              <th class="align-middle">Validity Date</th>
              <th class="align-middle">Valid until</th>
              <th class="align-middle">Status</th>
              <th>
                <span class="sr-only">Actions</span>
              </th>
            </thead>
            <tbody>
              <tr>
                <td colspan="6" class="text-center">
                  <%- include('../../partials/loaders/dt_body') %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</section>

<%# Modals %>

<%- include('../../partials/memo/modals/add_memo') %>


<%# ***** Scripts ***** %>

<%# Select2 %>
<script src="<%=BASE_URL%>/plugins/select2/js/select2.full.min.js"></script>
<%# ChartJS  %>
<script src="<%=BASE_URL%>/plugins/chart.js/Chart.min.js"></script>
<%# InputMask  %>
<script src="<%=BASE_URL%>/plugins/inputmask/jquery.inputmask.min.js"></script>
<%# daterangepicker  %>
<script src="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.js"></script>
<%# Tempusdominus Bootstrap 4  %>
<script src="<%=BASE_URL%>/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<%# Datatable and Plugins %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/memo/memos.js"></script>