<%# ***** Styles ***** %>

<%# Select2 %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/select2/css/select2.min.css">
<%# Daterange Picker %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.css">
<%# iCheck %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<%# BS Stepper %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/bs-stepper/css/bs-stepper.min.css">


<%# ***** Body ***** %>

<%# Content Header (Page header) %>
<div class="content-header">
  <div class="container-fluid">

    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/m">MOA/MOU</a></li>
      <li class="breadcrumb-item"><a href="<%=BASE_URL%>/m/partners">List of Partners</a></li>
      <li class="breadcrumb-item active" id="active_breadcrumb">Partner Details</li>
    </ol>

    <div class="d-sm-flex align-items-sm-center justify-content-between">

      <%# Header & Subtitle %>
      <div class="flex-wrap mb-2 mb-md-0">
        <h1 class="m-0">Partner Details</h1>
      </div>
      <div>
        <%# <button type="button" class="btn btn-default" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Filter by date</span>
        </button> %>
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-9">
        
        <%# Partner Details Header %>
        <div class="card card-primary card-outline">
          <%# <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div class="card-title">Project Details</div>

              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
                  <i class="fas fa-expand"></i>
                </button>
              </div>
            </div>
          </div> %>

          <div class="card-body" id="partnerDetails_header_loader">
            <div class="row">
              <div class="col-10">
                <div class="skeleton h3"></div>
              </div>
            </div>
            <div class="skeleton text" style="width: 50%"></div>
            <div class="skeleton text" style="width: 5rem"></div>      
          </div>

          <div class="card-body" id="partnerDetails_header" style="display: none">

            <%# Partner Name %>
            <div class="row">
              <div class="col-10">
                <h3 id="partnerDetails_header_name"></h3>
              </div>
            </div>
            
            <%# Address %>
            <div>
              <i class="fas fa-location-dot fa-fw mr-1 text-dark" data-toggle="tooltip" title="Address"></i>
              <span id="partnerDetails_header_address"></span>
            </div>

            <%# Status %>
            <div class="mt-1">
              <div class="badge badge-subtle-success py-1 px-2">
                <i class="fas fa-check fa-fw mr-1"></i>
                <span>Active</span>
              </div>
            </div>

          </div>
        </div>

        <%# Datatable Card %>
        <div class="card">

          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="card-title">List of MOA/MOU</h3>
              <div class="card-tools">
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-card-widget="collapse"
                  data-toggle="tooltip"
                  title="Collapse card"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-card-widget="maximize"
                  data-toggle="tooltip"
                  title="Maximize/minimize card"
                >
                  <i class="fas fa-expand"></i>
                </button>
                <button 
                  type="button" 
                  class="btn btn-sm btn-negative" 
                  data-toggle="tooltip"
                  title="Reload table"
                >
                  <i class="fas fa-sync-alt"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table w-100" id="partnerMemos_dt">
                <thead>
                  <th class="d-none">Date Created</th>
                  <th class="align-middle">Name of Representative</th>
                  <th class="align-middle">Projects</th>
                  <th class="align-middle">Notary Signed Date</th>
                  <th class="align-middle">Valid Until</th>
                  <th class="align-middle">Status</th>
                  <th class="align-middle">
                    <span class="d-inline-block d-sm-none">Actions</span>
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="6" class="text-center">
                      <%- include('../../partials/loaders/dt_body') %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      
      <div class="col-md-3">
        
        <%# Options %>
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="card-title">Options</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body p-2">
            <div class="dropdown-header">Partner details</div>
              <button
                type="button"
                class="btn btn-negative btn-block text-left" 
                data-toggle="modal"
                data-target="#editPartnership_modal"
              >
                <i class="fas fa-edit text-info fa-fw mr-1"></i>
                <span>Edit details</span>
              </button>

              <hr class="my-2">
              <div class="dropdown-header">Documentation</div>
              
              <button 
                type="button"
                class="btn btn-negative btn-block text-left" 
                data-toggle="modal"
                data-target="#uploadDocument_modal"
              >
                <i class="fas fa-file-upload text-primary fa-fw mr-1"></i>
                <span>Upload Document</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<%# Modals %>

<% if (JSON.parse(JSON.stringify(roles)).includes('Extensionist')) { %>
  
  <%# Edit Partner Details %>
  <div class="modal fade" id="editPartnership_modal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Partnership Details</h4>
          <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <%# Form Card %>
          <form id="editPartnership_form">
            <%# Partnership Name %>
            <div class="col-12">
              <div class="form-group">
                <label for="editPartneship_partnershipName">
                  <span>Name of Partner</span>
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="editPartnership_partnershipName" name="name"
                  placeholder="Insert partnership name here ..." value="Grain Foundation for PWDs Inc.">
              </div>
            </div>

            <%# Partner Address %>
            <div class="col-12">
              <div class="form-group">
                <label for="editPartneship_partnerAddress">
                  <span>Partner Address</span>
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="editPartnership_partnerAddress" name="address"
                  placeholder="Insert partner address here ..." value="21 Don Fabian St., Commonwealth, Quezon City">
              </div>
            </div>

            <%# Organization %>
            <div class="col-12">
              <div class="form-group" id="editPartnership_organization_grp">
                <label for="editProject_cooperatingAgencies">
                  <span>Organization</span>
                  <span class="text-danger">*</span>
                </label>

                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-8">
                      <select 
                        name="organization" 
                        id="editPartnership_organization_select" 
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option selected>Polytechnic University of the Philippines, Quezon City Branch</option>
                      </select>
                    </div>
                    <div class="col-md-4 text-right">
                      <button class="btn btn-primary btn-sm" type="button">
                        <i class="fas fa-plus mr-1"></i>
                        <span>Add organization</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-negative" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="submitPartnership_btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%# Upload Document Modal %>
  <div class="modal fade" id="uploadDocument_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <form class="modal-content" id="uploadDocument_form">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>Upload Document</span>
          </h4>
          <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <label for="document">
                <span>Upload document here</span>
                <span class="text-danger">*</span>
            </label>
            <div class="input-group">
                <div class="custom-file">
                    <input 
                        type="file" 
                        class="custom-file-input" 
                        id="uploadDocument"
                        name="uploadDocument"
                    >
                    <label class="custom-file-label" for="uploadDocument">Choose file</label>
                </div>
            </div>
          
        </div>

        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-negative" 
            data-dismiss="modal"
          >Cancel</button>
          <button 
            type="submit" 
            class="btn btn-primary" 
            id="uploadDocument_btn"
          >
            <span>Upload</span>
          </button>
        </div>
      </form>
    </div>
  </div>

<% } %>


<%# ***** Scripts ***** %>

<%# Select2 %>
<script src="<%=BASE_URL%>/plugins/select2/js/select2.full.min.js"></script>
<%# Summernote %>
<script src="<%=BASE_URL%>/plugins/summernote/summernote-bs4.min.js"></script>
<%# InputMask  %>
<script src="<%=BASE_URL%>/plugins/inputmask/jquery.inputmask.min.js"></script>
<%# daterangepicker  %>
<script src="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.js"></script>
<%# BS-Stepper  %>
<script src="<%=BASE_URL%>/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<%# Datatable and Plugins %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/memo/partnerDetails.js"></script>