<%# ***** Styles ***** %>

<%# Select2 %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/select2/css/select2.min.css">
<%# Tempusdominus Bootstrap 4 %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<%# Daterange Picker %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.css">
<%# iCheck %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<%# DataTables %>
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%=BASE_URL%>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


<%# ***** Body ***** %>

<%# Content Header (Page header) %>
<div class="content-header">
  <div class="container-fluid">

    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">MOA/MOU</a></li>
    </ol>

    <div class="d-sm-flex align-items-sm-center justify-content-between">

      <%# Header & Subtitle %>
      <div class="flex-wrap mb-2 mb-md-0">
        <h1 class="m-0">List of MOA/MOU</h1>
        <div class="text-secondary">View reports and manage activities here</div>
      </div>
      <div>
        <!-- <button type="button" class="btn btn-default" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Filter by date</span>
        </button> -->
        <% if (JSON.parse(JSON.stringify(roles)).includes('Extensionist')) { %>
          <button 
            type="button" 
            class="btn btn-primary" 
            data-toggle="modal"
            data-target="#addMemo_modal"
          >
            <i class="fas fa-plus mr-1"></i>
            <span>Add MOA/MOU</span>
          </>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%# Main content %>
<section class="content">
  <div class="container-fluid">

    <%# Info cards %>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Messages</span>
            <span class="info-box-number">1,410</span>
          </div>
          
        </div>
        
      </div>
      
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Bookmarks</span>
            <span class="info-box-number">410</span>
          </div>
          
        </div>
        
      </div>
      
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Uploads</span>
            <span class="info-box-number">13,648</span>
          </div>
          
        </div>
        
      </div>
      
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">93,139</span>
          </div>
          
        </div>
        
      </div>
      
    </div>

    <%# Datatable Card %>
    <div class="card card-outline card-primary">

      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="card-title">List of MOA/MOU</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-sm btn-negative" data-card-widget="collapse"
              title="Collapse card">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-sm btn-negative" data-card-widget="maximize"
              title="Maximize/minimize card">
              <i class="fas fa-expand"></i>
            </button>
            <button type="button" class="btn btn-sm btn-negative" title="Reload card content">
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">

        <table class="table w-100" id="projectMOA_dt">
          <thead>
            <th>Partner</th>
            <th>Partnership Representative</th>
            <th>Notary Signed Date</th>
            <th>Validity Date</th>
            <th>Status</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td colspan="6" class="text-center">
                <div class="p-5 my-5">
                  <div class="spinner-grow text-primary mb-2"></div>
                  <div>Loading ... Please wait.</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</section>

<%# Modals %>
<% if (JSON.parse(JSON.stringify(roles)).includes('Extensionist')) { %>

  <%# Add Memo Modal %>
  <div class="modal fade" id="addMemo_modal">
    <div class="modal-dialog modal-dialog-scrollable">
      <form class="modal-content" id="addMemo_form">
        <div class="modal-header">
          <h4 class="modal-title">Add MOA/MOU</h4>
          <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
            
          <%# Form Group Loader %>
          <div id="addMemo_formGroups_loader">
            <div class="form-group">
              <div class="skeleton text" style="width: 8rem"></div>
              <div class="skeleton input"></div>
            </div>
            <div class="form-group">
              <div class="skeleton text" style="width: 8rem"></div>
              <div class="skeleton input"></div>
              <div class="skeleton input"></div>
            </div>
            <div class="form-group">
              <div class="p-3 my-5"></div>
            </div>
          </div>

          <%# Form Groups %>
          <div id="addMemo_formGroups" style="display: none">

            <%# Partnership Name %>
            <div class="col-12">
              <div class="form-group">
                <label for="addMOA_partnershipName">
                  <span>Name of Partner</span>
                  <span class="text-danger">*</span>
                </label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="addMOA_partnershipName" 
                  name="name"
                  placeholder="Insert partnership name here ..."
                />
              </div>
            </div>
    
            <%# Partner Address %>
            <div class="col-12">
              <div class="form-group">
                <label for="addMOA_partnerAddress">
                  <span>Partner Address</span>
                  <span class="text-danger">*</span>
                </label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="addMOA_partnerAddress" 
                  name="address"
                  placeholder="Insert partner address here ..."
                />
              </div>
            </div>
    
            <%# Partnership Representative Name %>
            <div class="col-12">
              <div class="form-group">
                <label for="addMOA_partnershipRepresentative">
                  <span>Name of Representative</span>
                  <span class="text-danger">*</span>
                </label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="addMOA_partnershipRepresentative" 
                  name="representative"
                  placeholder="Insert partnership representative name here ..."
                />
              </div>
            </div>
    
            <%# PUP REPD Representative %>
            <div class="col-12">
              <div class="form-group">
                <label for="addMOA_pupREPD">
                  <span>Name of PUP REPD Representative</span>
                  <span class="text-danger">*</span>
                </label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="addMOA_pupREPD" 
                  name="pup_REPD"
                  placeholder="Insert PUP REPD representative here ..."
                />
              </div>
            </div>
    
            <%# Organization %>
            <div class="col-12">
              <div class="form-group" id="addMOA_organization_grp">
                <label for="addMOA_organization">
                  <span>Organization</span>
                  <span class="text-danger">*</span>
                </label>
    
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-8">
                      <select 
                        name="organization" 
                        id="addMemo_organization_select" 
                        class="form-control select2"
                        style="width: 100%;"
                      >
                        <option disabled>No organizations yet.</option>
                      </select>
                    </div>
                    <div class="col-md-4 text-right">
                      <button class="btn btn-primary btn-sm" type="button">
                        <i class="fas fa-plus mr-1"></i>
                        <span>Add organization</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <%# Notary Signed Date %>
            <div class="col-12">
              <div class="form-group">
                <label for="addMOA_notarySignedDate">
                  <span>Notary Signed Date</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group date">
                  <input 
                    type="text" 
                    class="form-control" 
                    id="addMOA_notarySignedDate" 
                    name="notary_date"
                    placeholder="Please select notary signed date" 
                    data-inputmask-alias="datetime"
                    data-inputmask-inputformat="mm/dd/yyyy" 
                    data-mask 
                  />
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="addMOA_notarySignedDate_pickerBtn"
                      data-toggle="tooltip" title="Select notary signed date">
                      <i class="fa fa-calendar-day fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
    
            <%# Validity Date %>
            <div class="col-12">
              <div class="form-group">
                <label for="addMOA_validityDate">
                  <span>Validity Date</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group date">
                  <input 
                    type="text" 
                    class="form-control" 
                    id="addMOA_validityDate" 
                    name="validity_date"
                    placeholder="Please select validity date" 
                    data-inputmask-alias="datetime"
                    data-inputmask-inputformat="mm/dd/yyyy" 
                    data-mask 
                  />
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="addMOA_validityDate_pickerBtn"
                      data-toggle="tooltip" title="Select validity date">
                      <i class="fa fa-calendar-day fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
    
            <%# Upload Document %>
            <div class="col-12">
              <div class="form-group">
                <label for="document">
                    <span>Upload document here</span>
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <div class="custom-file">
                        <input 
                            type="file" 
                            class="custom-file-input" 
                            id="uploadDocument"
                            name="uploadDocument"
                        >
                        <label class="custom-file-label" for="uploadDocument">Choose file</label>
                    </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-negative" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="submitMemo_btn">Submit</button>
        </div>
      </form>
    </div>
  </div>

<% } %>


<%# ***** Scripts ***** %>

<%# Select2 %>
<script src="<%=BASE_URL%>/plugins/select2/js/select2.full.min.js"></script>
<%# ChartJS  %>
<script src="<%=BASE_URL%>/plugins/chart.js/Chart.min.js"></script>
<%# Sparkline  %>
<script src="<%=BASE_URL%>/plugins/sparklines/sparkline.js"></script>
<%# JQVMap  %>
<script src="<%=BASE_URL%>/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<%# jQuery Knob Chart  %>
<script src="<%=BASE_URL%>/plugins/jquery-knob/jquery.knob.min.js"></script>
<%# InputMask  %>
<script src="<%=BASE_URL%>/plugins/inputmask/jquery.inputmask.min.js"></script>
<%# daterangepicker  %>
<script src="<%=BASE_URL%>/plugins/daterangepicker/daterangepicker.js"></script>
<%# Tempusdominus Bootstrap 4  %>
<script src="<%=BASE_URL%>/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<%# Datatable and Plugins %>
<script src="<%=BASE_URL%>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%=BASE_URL%>/plugins/jszip/jszip.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%=BASE_URL%>/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%=BASE_URL%>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/modules/memo/projectMOA.js"></script>