<%# Main Sidebar Container %>
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <%# Brand Logo %>
  <%- include('../sidebar_brand_logo') %>

  <%# Sidebar %>
  <div class="sidebar border-right">

    <%- include('../user_panel') %>
    <%- include('../sidebar_search') %>

    <%# Sidebar Menu %>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
        data-accordion="false">

        <%# Core %>
        <li class="nav-header">CORE</li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/a/dashboard" 
            class="nav-link<% if (active_sidebar_tab == "Dashboard") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-chart-pie"></i>
            <p class="text">Dashboard</p>
          </a>
        </li>

        <li class="dropdown-divider"></li>

        <%# ADMIN %>
        <li class="nav-header">ADMIN</li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/a/users" 
            class="nav-link<% if (active_sidebar_tab == "Users") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-users-cog"></i>
            <p class="text">Users</p>
          </a>
        </li>

        <li class="dropdown-divider"></li>

        <%# Configurations %>
        <li class="nav-header">CONFIGURATIONS</li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/a/budget-item-categories" 
            class="nav-link<% if (active_sidebar_tab == "Budget Item Categories") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-money-bill-wave"></i>
            <p class="text">Budget Item Categories</p>
          </a>
        </li>

        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/a/programs" 
            class="nav-link<% if (active_sidebar_tab == "Programs") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-university"></i>
            <p class="text">Programs</p>
          </a>
        </li>

        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/a/branches-campuses" 
            class="nav-link<% if (active_sidebar_tab == "Branches/Campuses") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-sitemap"></i>
            <p class="text">Branches/Campuses</p>
          </a>
        </li>

        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/a/post-evaluation" 
            class="nav-link<% if (active_sidebar_tab == "Post Evaluation") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-list-alt"></i>
            <p class="text">Post Evaluation</p>
          </a>
        </li>
      </ul>
    </nav>

  </div>

  <%# Sidebar Custom/Footer %>
  <div class="sidebar-custom border-right d-flex align-items-center justify-content-between">
    <a href="#" class="btn btn-sm btn-negative"><i class="fas fa-cogs"></i></a>
  </div>

</aside>