<%# Main Sidebar Container %>
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

  <%# Brand Logo %>
  <%- include('../sidebar_brand_logo') %>

  <%# Sidebar %>
  <div class="sidebar border-right">

    <%- include('../user_panel') %>
    <%- include('../sidebar_search') %>

    <%# Sidebar Menu %>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

        <%# Reports %>
        <li class="nav-header">Reports</li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/r/report1" 
            class="nav-link<% if (active_sidebar_tab == "Status of Submitted Extension Project Proposal for Institutional Funding") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-lines fa-fw mr-2"></i>
            <p class="text">Status of Submitted Extension Project Proposal for Institutional Funding</p>
          </a>
        </li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/r/report2" 
            class="nav-link<% if (active_sidebar_tab == "Status of University Extension Projects") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-lines fa-fw mr-2"></i>
            <p class="text">Status of University Extension Projects</p>
          </a>
        </li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/r/report3" 
            class="nav-link<% if (active_sidebar_tab == "University Active Extension Partners and Adopted Communities") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-lines fa-fw mr-2"></i>
            <p class="text">University Active Extension Partners and Adopted Communities</p>
          </a>
        </li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/r/report4" 
            class="nav-link<% if (active_sidebar_tab == "Inventory of University Faculty Experts on Extension Projects") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-lines fa-fw mr-2"></i>
            <p class="text">Inventory of University Faculty Experts on Extension Projects</p>
          </a>
        </li>
        <li class="nav-item">
          <a 
            href="<%=BASE_URL%>/r/report5" 
            class="nav-link<% if (active_sidebar_tab == "Project Monitoring") { %> active<% } %>"
          >
            <i class="nav-icon fas fa-file-lines fa-fw mr-2"></i>
            <p class="text">Project Monitoring</p>
          </a>
        </li>

      </ul>
    </nav>

  </div>

  <%# Sidebar Custom/Footer %>
  <div class="sidebar-custom border-right d-flex align-items-center justify-content-between">
    <a href="#" class="btn btn-sm btn-negative"><i class="fas fa-cogs"></i></a>
  </div>

</aside>